.navbar-toggler-icon {
color: white;
}

.navbar-brand:hover {
    color: #28a745 !important;
}

.nav-link {
    margin-right: 20px;
    font-weight: 600;
    color: black !important;
}

.nav-link:hover {
    font-weight: 700 !important;
    color: #28a745 !important;
}

.footer-nav-link {
    color: #28a745 !important;

}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.caption-box {
    border: 10px solid #bbb;
}

.footer-nav-link:hover {
    color: #28a745 !important;
}

.img-height {
    height: 90vh;
}

.grey-bg {
    background-color: #eee;
}

.b-g {
    background-color: #fff;
    letter-spacing: 10 !important;
    line-height: 35px;
    font-weight: 400;
}

#sideimage {
    height: 100%;
    width: 100%;
}

.contact {
    background-image: url(./images/bg.png);
}

.cent {
    margin: 0 auto;
}

.signup-container {
    background-image: url(./images/sbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.input-group {
    margin: 10px 0;
}

.login-container {
    background-image: url(./images/lbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#overlay {
    background-color: #362638;
}

#height {
    height: 80vh;
}

#home-bg {
    background-image: url(./images/hbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    height: auto;
}

.price-btn {
    border-radius: 0px;
    height: 46px;
}

.price-btn:hover {
    background-color: #28a745 !important;
}

.display-1 {
    word-wrap: break-word;
}

.orders-modal {
    width: 60vw !important;
    max-width: 60vw !important;
}
.help-block {
    opacity: 0.7;
}

.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
    background-color: white;
    padding: 15px;
    margin: 15px;
}

.checkout-steps>div {
    border-top: .3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
}

.checkout-steps>div.active {
    border-top: .3rem #28a745 solid;
    color: #28a745;
}

footer {
    padding: 50px 0;
}

footer ul {
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
}

footer ul > li {
    margin-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
}

#footer a {
    text-decoration: none;
}