
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto/Roboto-Light.ttf');
}

#root {
    font-family: Roboto;
}

* {
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #28a745 !important;
}

a:hover {
    text-decoration: none;
}
.nc {
    color: rgba(233, 217, 68, 0.795);
}
.tangerine {
    color: #f3c910;
    font-weight: bolder;
}
.yc {
    color: rgba(233, 217, 68, 0.795);
}